<template name="home">
<div class="features">
    <div class="row">
        <div class="medium-4 columns">
            <div class="icon-fields">
                <i class="fa fa-plus-square"></i>
            </div>
            <div class="panel clearfix">
                <h4>Create Form</h4>
                <p class="text-justified">Create new forms with as many categories
                <br>as you need to track.</p>

            </div>
        </div>
        <div class="medium-4 columns">
            <div class="icon-fields">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="panel clearfix">
                <h4>Timer</h4>
                <p class="text-justified">This page has all the forms which you
                <br>
                have recently created. You will be able to sort
                <br>through the forms and time them here.</p>
            </div>
        </div>
        <div class="medium-4 columns">
            <div class="icon-fields">
                <i class="fa fa-folder-open"></i>
            </div>
            <div class="panel clearfix">
                <h4>Export Forms</h4>
                <p class="text-justified">Contrary to popular belief, Lorem Ipsum is
                <br>
                not simply random text. It has roots in a piece of
                <br>
                classical Latin literature.</p>
            </div>
        </div>
    </div>
  </div>
</template>
