<template name="header">
<div class="icon-bar four-up">
    <a href="/" class="item">
    <i class="fa fa-home"></i>
    {{!-- <label>Home</label> --}}
    </a>
    <a href="/form-creator" class="item">
    <i class="fa fa-plus-square"></i>
    {{!-- <label>Create Form</label> --}}
    </a>
    <a href="/generated-form" class="item">
    <i class="fa fa-clock-o"></i>
    {{!-- <label>Timer</label> --}}
    </a>
    <a href="/export-form" class="item">
    <i class="fa fa-folder-open"></i>
    {{!-- <label>Export Forms</label> --}}
    </a>
</div>
</template>

<!-- <div class="ui compact menu">
  <a class="item">
    <i class="icon mail"></i> Messages
    <div class="floating ui red label">22</div>
  </a>
</div> -->
